@CHARSET "UTF-8";
/*
Reference:
http://www.bootstrapzen.com/item/135/simple-login-form-logo/
*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}

.form-control{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    /*@include box-sizing(border-box);*/

    &:focus {
        z-index: 2;
    }
}

.index {
    background: url(http://i.imgur.com/GHr12sH.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.div-cadastro {
    margin-top: 60px;
    color: #5d5d5d;
    background: #f2f2f2;
    padding-top: 25%;
    padding-bottom: 25%;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    min-height: 100%;
    text-align: center;
}
.div-cadastro > a{
    font-size: 18px;
    margin: 16px 0;
}

.login-form {
    margin-top: 60px;
}

form[role=login] {
    color: #5d5d5d;
    background: #f2f2f2;
    padding: 26px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
form[role=login] img {
    display: block;
    margin: 0 auto;
    margin-bottom: 35px;
}
form[role=login] input,
form[role=login] button {
    font-size: 18px;
    margin: 16px 0;
}
form[role=login] > div {
    text-align: center;
}

.form-links {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 50px;
}
.form-links a {
    color: #fff;
}
.form-links span {
    color: #fff;
}
.cadastro-form {
    margin-top: 0px;
}

form[role=cadastro] {
    color: #5d5d5d;
    background: #f2f2f2;
    padding: 26px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
form[role=cadastro] img {
    display: block;
    margin: 0 auto;
    margin-bottom: 35px;
}
form[role=cadastro] input,
form[role=cadastro] button {
    font-size: 18px;
    margin: 16px 0;
}
form[role=cadastro] > div {
    text-align: center;
}

strong{
    color: #006dcc !important;
}
